.contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.navbar {
  display: flex;
}

.logo {
  margin-right: 1rem;
  padding: 8px 11px;
  font-weight: bold;
}

.navbarLink {
  color: blue;
  padding: 8px 11px;
}

.descripcion {
  color: grey;
  margin-bottom: 3rem;
}
